@{
    ViewBag.Title = "试卷上传";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>试卷上传</h2>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="../Content/webuploader/webuploader.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3 form-group">
        <select id="course" class="form-control">
            <option selected value="0">选择课程</option>
            @foreach (var i in ViewBag.CourseList)
            {
                <option value="@i.id">@i.value</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-group">
        <select id="questiontype" class="form-control">
            <option selected value="0">选择题型</option>
            @foreach (var i in ViewBag.QuestionTypeList)
            {
                <option value="@i.id">@i.value</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-group">
        <select id="section" class="form-control">
            <option value="2">选择章节</option>
            @foreach (var i in ViewBag.SectionList)
            {
                <option value="@i.id">@i.value</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-group">
        <select id="difficulty" class="form-control">
            <option value="2">选择难易度</option>
            @foreach (var i in ViewBag.DifficultyList)
            {
                <option value="@i.id">@i.value</option>
            }
        </select>
    </div>
</div>
<div id="uploader" class="wu-example">
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>

    </div>
</div>

<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Content/webuploader/webuploader.js"></script>
<script type="text/javascript">
    // 文件上传
    jQuery(function () {
        var $ = jQuery,
            $list = $('#thelist'),
            $btn = $('#ctlBtn'),
            state = 'pending',
            uploader;

        uploader = WebUploader.create({
            //是否自动上传
            //auto: true,
            // 不压缩image
            resize: false,
            multiple: false,
            threads: 1,
            // swf文件路径
            swf: 'Content/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: '/UploadQuestions/UpLoadProcess',
            timeout: 0,

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            //验证上传文件的类型
            accept: {
                title: 'Documents',
                extensions: 'doc,docx,,'
            }
        });
        console.log(111111)
        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                alert("ERROR")
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            console.log(11111111)
            $list.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">' + file.name + '<span class="glyphicon glyphicon-remove" ></span></h4>' +
                //'<span class="glyphicon glyphicon-remove"></span>' +
                '<p class="state">等待上传...</p>' +
            '</div>');
            //var course = $("#course").val();
            //var questiontype = $("#questiontype").val();
            //var section = $("#section").val();
            //var difficulty = $("#difficulty").val();
            //if (course == 0 || questiontype == 0 || section == 0 || difficulty == 0) {
            //    alert("请选择课程，题型，章节，难度");
            //    return;
            //}
            //uploader.options.formData = { "course": course, "questiontype": questiontype, "section": section, "difficulty": difficulty };
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                  '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                  '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css('width', percentage * 100 + '%');
        });

        uploader.on('uploadSuccess', function (file) {
            $('#' + file.id).find('p.state').text('已上传');
        });

        uploader.on('uploadError', function (file, reason) {
            $('#' + file.id).find('p.state').text('上传出错' + reason);
        });
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
        });

        uploader.on('all', function (type) {
            if (type === 'startUpload') {
                state = 'uploading';
            } else if (type === 'stopUpload') {
                state = 'paused';
            } else if (type === 'uploadFinished') {
                state = 'done';
            }

            if (state === 'uploading') {
                $btn.text('暂停上传');
            } else {
                $btn.text('开始上传');
            }
        });

        $btn.on('click', function (file) {
            var course = $("#course").val();
            var questiontype = $("#questiontype").val();
            var section = $("#section").val();
            var difficulty = $("#difficulty").val();
            if (course == 0 || questiontype == 0 || section == 0 || difficulty == 0) {
                alert("请选择课程，题型，章节，难度");
                return;
            }
            uploader.options.formData = { "course": course, "questiontype": questiontype, "section": section, "difficulty": difficulty };
            if (state === 'uploading') {
                uploader.stop();
            } else {
                uploader.upload();
            }
        });


    });
</script>  