@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select style="display:none" id="section_detail" class="form-control">
    <option selected value="0">选择章节</option>
    @foreach (var i in ViewBag.SectionList)
    {
        <option value="@i.id">@i.value</option>
    }
</select>

<select style="display:none" id="difficulty_detail" class="form-control">
    <option selected value="0">选择难度</option>
    @foreach (var i in ViewBag.DifficultyList)
    {
        <option value="@i.id">@i.value</option>
    }
</select>

<h1>下载试题</h1>
<div id="testpaper" class="panel panel-primary" style="color:black;display:none">
    <div class="panel-heading">试卷预览</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="testpapertable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="4" width="90%">题干</th>
                        <th colspan="1" width="10%">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="footer" class="panel-footer">
        <button id="Generate" class="btn btn-default" onclick="Generate()">生成</button>
    </div>
</div>

<div id="final" class="panel panel-primary" style="color:black;display:none">
    <div class="panel-heading">配置预览</div>
    <div class="panel-body">
        <div class="row" style="color:black">
            <div class="col-lg-2 form-group">
                学校名称：<input id="final_schoolname" placeholder="例：四川师范大学" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                学院名称：<input id="final_collegename" placeholder="例：计算机科学学院" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                专业名称：
                <select id="final_majorname" disabled="disabled" class="form-control">
                    <option selected="" value="0">选择专业</option>
                    @foreach (var i in ViewBag.Majorlist)
                    {
                        <option value="@i.id">@i.value</option>
                    }
                </select>
            </div>

            <div class="col-lg-2 form-group">
                学年：<input id="final_schoolyear" placeholder="例：2014-2015" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                学期：<input id="final_term" placeholder="例：1、2" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                考试类型：<input id="final_testtype" placeholder="例：期中、期末" class="form-control" type="text" />
            </div>
        </div>
        <div class="row" style="color:black">
            <div class="col-lg-2 form-group">
                课程名称：<select disabled="disabled" id="final_course" class="form-control">
                    <option selected value="0">选择课程</option>
                    @foreach (var i in ViewBag.CourseList)
                    {
                        <option value="@i.id">@i.value</option>
                    }
                </select>

            </div>
            <div class="col-lg-2 form-group">
                分卷：<input id="final_volume" placeholder="例：A、B" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                考试时长(分钟)：<input id="final_length" placeholder="例：120、90" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                考查方式：<input id="final_testmethod" placeholder="例：开卷、闭卷" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                适用年级：<input id="final_grade" placeholder="例：2013、2014" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                适用班级（顿号隔开）：<input id="final_class" placeholder="例：1、2、3" class="form-control" type="text" />
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button onclick="Back(this)" id="back" class="btn btn-sm btn-success">上一步</button>
        <button onclick="Create()" id="nextstep" class="btn btn-sm btn-success pull-right">下一步</button>
    </div>
</div>

<div id="basic_form" class="panel panel-primary" style="color:black">
    <div class="panel-heading">请填写基本资料</div>
    <div class="panel-body">
        <div class="row" style="color:black">
            <div class="col-lg-2 form-group">
                学校名称：<input id="schoolname" placeholder="例：四川师范大学" class="form-control" type="text" value="@ViewBag.Property["schoolname"]" />
            </div>
            <div class="col-lg-2 form-group">
                学院名称：<input id="collegename" placeholder="例：计算机科学学院" class="form-control" type="text" value="@ViewBag.Property["collegename"]" />
            </div>
            <div class="col-lg-2 form-group">
                专业名称：
                    <select id="majorname" class="form-control">
                        <option selected="" value="0">选择专业</option>
                        @foreach (var i in ViewBag.Majorlist)
                        {
                            <option value="@i.id">@i.value</option>
                        }
                    </select>
            </div>
            <div class="col-lg-2 form-group">
                学年：<input id="schoolyear" placeholder="例：2014-2015" class="form-control" type="text" value="@ViewBag.Property["schoolyear"]" />
            </div>
            <div class="col-lg-2 form-group">
                学期：<input id="term" placeholder="例：1、2" class="form-control" type="text" value="@ViewBag.Property["term"]" />
            </div>
            <div class="col-lg-2 form-group">
                考试类型：<input id="testtype" placeholder="例：期中、期末" class="form-control" type="text" value="@ViewBag.Property["testtype"]" />
            </div>
        </div>
        <div class="row" style="color:black">
            <div class="col-lg-2 form-group">
                课程名称：<select id="course" class="form-control">
                    <option selected value="0">选择课程</option>
                    @foreach (var i in ViewBag.CourseList)
                    {
                        <option value="@i.id">@i.value</option>
                    }
                </select>

            </div>
            <div class="col-lg-2 form-group">
                分卷：<input id="volume" placeholder="例：A、B" class="form-control" type="text" value="@ViewBag.Property["volume"]" />
            </div>
            <div class="col-lg-2 form-group">
                考试时长(分钟)：<input id="length" placeholder="例：120、90" class="form-control" type="text" value="@ViewBag.Property["length"]" />
            </div>
            <div class="col-lg-2 form-group">
                考查方式：<input id="testmethod" placeholder="例：开卷、闭卷" class="form-control" type="text" value="@ViewBag.Property["testmethod"]" />
            </div>
            <div class="col-lg-2 form-group">
                适用年级：<input id="grade" placeholder="例：2013、2014" class="form-control" type="text" value="@ViewBag.Property["grade"]" />
            </div>
            <div class="col-lg-2 form-group">
                适用班级（顿号隔开）：<input id="class" placeholder="例：1、2、3" class="form-control" type="text" value="@ViewBag.Property["class"]" />
            </div>
        </div>
        <div><span style="color:black">请添加试卷结构</span></div>
        <div class="row" style="color:black">
            <div class="col-md-2 form-group">
                题型：<select id="questiontype" class="form-control">
                    <option selected value="0">选择题型</option>
                    @foreach (var i in ViewBag.QuestionTypeList)
                    {
                        <option value="@i.id">@i.value</option>
                    }
                </select>
            </div>
            <div class="col-lg-2 form-group">
                数量：<input id="questioncount" onkeyup="Calculate()" onfocus="this.select()" placeholder="请填写数量" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                每题分值：<input id="score" onkeyup="Calculate()" onfocus="this.select()" placeholder="请填写分值" class="form-control" type="text" />
            </div>
            <div class="col-lg-2 form-group">
                总分：<input id="totalscore" class="form-control" disabled="disabled" type="text" />
            </div>
            <div class="col-lg-1 form-group">
                &nbsp<button id="AddOn" onclick="Add()" class="btn btn-primary form-control" type="button">添加</button>
            </div>
        </div>
        <div id="warning" class="alert alert-warning" hidden="hidden"></div>
        <table id="basic_table" class="table">
            <thead>
                <tr>
                    <th>题型</th>
                    <th>数量</th>
                    <th>每题分值</th>
                    <th>总分</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="Content"></tbody>
        </table>
    </div>
    <div class="panel-footer">
        <label id="total_count" style="color:black">总数：0</label>&nbsp&nbsp&nbsp<label style="color:black" id="total_score">总分：0</label>
        <button onclick="Create_Details()" id="create" class="btn btn-sm btn-success pull-right">详细设置</button>
    </div>
</div>

<script type="text/javascript">
    function Generate() {
        var schoolname = $("#final_schoolname").val()
        var collegename = $("#final_collegename").val()
        var majorname = $("#final_majorname").find("option:selected").text()
        var schoolyear = $("#final_schoolyear").val()
        var term = $("#final_term").val()
        var testtype = $("#final_testtype").val()
        var course = $("#final_course").find("option:selected").text()
        var volume = $("#final_volume").val()
        var length = $("#final_length").val()
        var testmethod = $("#final_testmethod").val()
        var grade = $("#final_grade").val()
        var classnumber = $("#final_class").val()
        var total_count = $("#total_count").text().split("：")[1]
        var total_score = $("#total_score").text().split("：")[1]
        
        var tihao = 1
        var typelist = []
        $.each($("#Content").children("tr"), function (idx, obj) {
            var type = {
                tihao: tihao,
                singledati: {
                    type: $(obj).children("td").eq(0).attr("id"),
                    count: $(obj).children("td").eq(1).text(),
                    score: $(obj).children("td").eq(2).text(),
                }
            }
            typelist.push(type)
            tihao++;
        })
        var property = {
            schoolname: schoolname,
            collegename: collegename,
            majorname: majorname,
            schoolyear: schoolyear,
            term: term,
            testtype: testtype,
            course: course,
            volume: volume,
            length: length,
            testmethod: testmethod,
            grade: grade,
            classnumber: classnumber,
            total_count: total_count,
            total_score: total_score,
            tihao: tihao
        }
        var questionlist = []
        var xiaotitihao = 1
        $.each($("#testpapertable").children("tbody").first().find("iframe"), function (idx, obj) {
            var xiaoti = {
                xiaotitihao: xiaotitihao,
                tihaoid: $(obj).attr("id")
            }
            questionlist.push(xiaoti)
            xiaotitihao++
        })
        $.ajax({
            url: "/api/DownloadTestPaperAPI/Generate/",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ questionlist: questionlist, typelist: typelist, property: property }),
            success: function (result) {
                alert("生成成功")
                var curWwwPath = window.document.location.href;    //获取当前url
                var pathName = window.document.location.pathname;
                var pos = curWwwPath.indexOf(pathName);
                var localhostPath = curWwwPath.substring(0, pos) + "/";   //项目根路径
                
                $("#Generate").remove();
                var html = ""
                var date = new Date()
                var year = date.getFullYear()
                var month = date.getMonth() + 1
                var day = date.getDate()
                console.log(year)
                console.log(month)
                console.log(day)
                html += "<a target='_blank' class='btn btn-default' href='" + localhostPath + "/Upload/Results/"+year+month+day+"/" + result + "'>A卷</a>"
                $("#footer").html(html);
            },
            complete: function () {
                $.ajax({
                    url: "/api/DownloadTestPaperAPI/DeleteTemp/",
                    type: "POST",
                })
            },
        })
    }
    function Back(obj) {
        $(obj).parent().parent().hide()
        $("#final").children("div").eq(1).children("table").last().remove()
        $(".container").children("div").last().show()
    }

    function Next_Step(obj) {
        $(obj).parent().parent().hide()
        Insert_Detail_To_Final(obj)
        var next_id = $(obj).attr("id").split("_")[1]
        if ($(obj).parent().parent().parent().children("div").last().attr("id") == $(obj).parent().parent().attr("id")) {
            //$("[type='step']").show()
            $.each($("#final").children("div").eq(1).children("table"), function (index, table) {
                $.each($(table).children("tbody").children("tr"), function (s_index, tr) {
                    if ($(tr).children("td").last().children("button").eq(0).attr("id") == "Del_Detail") {
                        $(tr).children("td").last().remove()
                    }
                })
            })
            $("#final").show()
        }
        else {
            $(obj).parent().parent().next().show()
        }

    }

    function Insert_Detail_To_Final(obj) {
        var typename = $(obj).parent().parent().children("div").eq(1).children("div").eq(1).children("div").eq(1).find("option:selected").text()
        var s = $(obj).parent().prev().children(".table").eq(0).children("tbody").eq(0).html()
        var html = '<table id="final_table" class="table">' +
        '<thead>' +
        '<tr>' +
                '<th colspan="5"><h2>' + typename + '</h2></th>' +
            '</tr>' +
            '<tr>' +
                '<th>课程名称</th>' +
                '<th>题型</th>' +
                '<th>章节</th>' +
                '<th>难度</th>' +
                '<th>数量</th>' +
            '</tr>' +
        '</thead>' +
        '<tbody>' +
        s +
            '</tbody>' +
    '</table>'

        $("#final").children("div").eq(1).append(html)
    }

    function Pre_Step(obj) {
        var pre_id = $(obj).attr("id").split("_")[1]
        $(obj).parent().parent().hide()
        $(obj).parent().parent().prev().show()
        $("#final").children("div").eq(1).children("table").last().remove()
    }

    function Create_Details() {
        if ($("#majorname").find("option:selected").val() == 0)
            return
        $("#final").children("div").eq(1).children("table").remove()
        var basiclist = ["schoolname", "collegename", "majorname", "schoolyear", "term", "testtype", "course", "volume", "length", "testmethod", "grade", "class"]
        $("#basic_form").hide()
        //var basic_html = ""
        //basic_html = $("#basic_form").children("div").eq(1).children(".row").eq(0).prop("outerHTML") + $("#basic_form").children("div").eq(1).children(".row").eq(1).prop("outerHTML")
        //$("#final").children("div").eq(1).html(basic_html)
        var i = 0
        for (i; i < basiclist.length; i++) {
            $("#final_" + basiclist[i]).val($("#" + basiclist[i]).val())
        }
        //若之前有内容，先移除
        $.each($(".container").children("div"), function (index, obj) {
            if ($(obj).attr("type") == "step") {
                $(obj).remove()
                $("#final").find("input").val("")
            }
        })
        var html = ""
        $.each($("#Content").children("tr"), function (index, obj) {
            var typeid = $(obj).children("td").eq(0).attr("id")
            var typename = $(obj).children("td").eq(0).text()
            var courseid = $("#course").find("option:selected").val()
            var coursename = $("#course").find("option:selected").text()
            var questioncount = $(obj).children("td").eq(1).text()
            var questionscore = $(obj).children("td").eq(2).text()
            html += Create_Details_Form(typeid, typename, courseid, coursename, questioncount, questionscore)
        })
        $("#basic_form").after(html)
        $.each($(".container").children("div"), function (index, obj) {
            if ($(obj).attr("type") == "step") {
                $(obj).find("select").removeAttr("style")
                $(obj).children("select").eq(2).removeAttr("style")
            }
        })
        var firstid = $("#Content").children("tr").eq(0).children("td").eq(0).attr("id")
        $("#detail_" + firstid).show()
    }

    function Create_Details_Form(questiontypeid, questiontypename, courseid, coursename, questioncount, questionscore) {
        var sectionselect = document.getElementById("section_detail").outerHTML
        var difficultyselect = document.getElementById("difficulty_detail").outerHTML
        var prestep = parseInt(questiontypeid) - 1
        var nextstep = parseInt(questiontypeid) + 1
        var html = '<div hidden="hidden" type="step" id="detail_' + questiontypeid + '" class="panel panel-primary">' +
    '<div class="panel-heading">' + questiontypename + '详情</div>' +
    '<div style="color:black" class="panel-body">' +
        '<div><h2><span style="color:black">请添加</span><span style="color:red">' + questiontypename + '</span><span>(共' + questioncount + '题，每题' + questionscore + '分)</span></h2></div>' +
        '<div class="row" style="color:black">' +
            '<div class="col-lg-2 form-group">' +
                '课程名称：<select class="form-control" disabled="disabled">' +
                    '<option value="' + courseid + '">' + coursename + '</option>' +
                '</select>' +
            '</div>' +
            '<div class="col-lg-2 form-group">' +
                '题型：<select class="form-control" disabled="disabled">' +
                    '<option value="' + questiontypeid + '">' + questiontypename + '</option>' +
                '</select>' +
            '</div>' +
            '<div class="col-lg-2 form-group">' +
               '章节：' + sectionselect +
'</div>' +
'<div class="col-lg-2 form-group">' +
    '难度：' + difficultyselect +
'</div>' +
'<div class="col-lg-2 form-group">' +
    '数量：<input id="totalscore" onfocus="this.select()" placeholder="请填写数量" class="form-control" type="text" />' +
'</div>' +
'<div class="col-lg-1 form-group">' +
    '&nbsp<button id="AddOn" onclick="Add_Details(this,' + questioncount + ')" class="btn btn-primary form-control" type="button">添加</button>' +
'</div>' +
'</div>' +
'<div id="detail_warning" class="alert alert-warning" hidden="hidden"></div>' +
'<table class="table">' +
'<thead>' +
    '<tr>' +
        '<th>课程名称</th>' +
        '<th>题型</th>' +
        '<th>章节</th>' +
        '<th>难度</th>' +
        '<th>数量</th>' +
        '<th>操作</th>' +
    '</tr>' +
'</thead>' +
'<tbody id="Detail_Content_' + questiontypeid + '"></tbody>' +
'</table>' +
'</div>' +
'<div class="panel-footer">' +
'<button onclick="Pre_Step(this)" id="prestep_' + prestep + '" class="btn btn-sm btn-success">上一步</button>' +
'<button onclick="Next_Step(this)" id="nextstep_' + nextstep + '" class="btn btn-sm btn-success pull-right" disabled="disabled">下一步</button>' +
'</div>' +
'</div>'
        return html
    }

    function Add() {
        var questiontype = $("#questiontype").find("option:selected").val()
        var questiontypename = $("#questiontype").find("option:selected").text()
        var questioncount = $("#questioncount").val()
        var score = $("#score").val()
        var totalscore = $("#totalscore").val()
        var warningword = ""
        var flag = true
        var isrepeat = false
        $.each($("#Content").children("tr"), function (index, obj) {
            if ($(obj).children("td").first().attr("id") == questiontype) {
                isrepeat = true
            }
        })
        if (isrepeat == true) {
            alert("no")
            return
        }
        if (questiontype == 0) {
            $("#questiontype").parent().attr("class", "col-md-2 form-group has-error")
            warningword += "【题型】"
            flag = false
        }
        else {
            $("#questiontype").parent().attr("class", "col-md-2 form-group")
        }
        if (questioncount == "" || questioncount == 0) {
            $("#questioncount").parent().attr("class", "col-md-2 form-group has-error")
            warningword += "【题量】"
            flag = false
        }
        else {
            $("#questioncount").parent().attr("class", "col-md-2 form-group")
        }
        if (score == "" || score == 0) {
            $("#score").parent().attr("class", "col-md-2 form-group has-error")
            warningword += "【分值】"
            flag = false
        }
        else {
            $("#score").parent().attr("class", "col-md-2 form-group")
        }
        if (totalscore == "" || totalscore == 0) {
            $("#totalscore").parent().attr("class", "col-md-2 form-group has-error")
            warningword += "【总分】"
            flag = false
        }
        else {
            $("#totalscore").parent().attr("class", "col-md-2 form-group")
        }
        if (flag == false) {

            $("#warning").html(warningword + "有错误")
            $("#warning").removeAttr("hidden")
            return
        }
        else {
            $("#warning").html("")
            $("#warning").attr("hidden", "hidden")
        }
        var totalscorebycaculate = 0
        $.each(score.split(','), function (i, val) {
            totalscorebycaculate += parseInt(val)
        })
        if (score.split(',').length == 1) {
            totalscorebycaculate = parseInt(score) * parseInt(questioncount)
        }
        if (totalscorebycaculate != totalscore) {
            $("#warning").html("【数量】【每题分值】【总分】 不匹配")
            $("#warning").removeAttr("hidden")
            return
        }
        else {
            $("#warning").html("")
            $("#warning").attr("hidden", "hidden")
        }
        if (score.split(',').length != 1 && score.split(',').length != parseInt(questioncount)) {
            $("#warning").html("【数量】【每题分值】 不匹配")
            $("#warning").removeAttr("hidden")
            return
        }
        else {
            $("#warning").html("")
            $("#warning").attr("hidden", "hidden")
        }
        var html = $("#Content").html();
        html += '<tr>' +
                    '<td id=' + questiontype + '>' + questiontypename + '</td>' +
                    '<td id=' + questiontype + '_' + questioncount + '>' + questioncount + '</td>' +
                    '<td id=' + questiontype + '_' + score + '>' + score + '</td>' +
                    '<td id=' + questiontype + '_' + totalscore + '>' + totalscore + '</td>' +
                    '<td><button id="Del" onclick="Del(this)" class="btn btn-warning" type="button">删除</button></td>' +
                '</tr>'
        $("#Content").html(html)
        var total_count = $("#total_count").text().split("：")[1]
        var total_score = $("#total_score").text().split("：")[1]
        total_count = parseInt(total_count) + parseInt(questioncount)
        total_score = parseInt(total_score) + parseInt(totalscore)
        $("#total_count").text("总数：" + total_count)
        $("#total_score").text("总分：" + total_score)
    }

    function Add_Details(obj, questioncount) {
        var course = $(obj).parent().parent().children("div").eq(0).find("option:selected").val()
        var coursename = $(obj).parent().parent().children("div").eq(0).find("option:selected").text()
        var questiontype = $(obj).parent().parent().children("div").eq(1).find("option:selected").val()
        var questiontypename = $(obj).parent().parent().children("div").eq(1).find("option:selected").text()
        var section = $(obj).parent().parent().children("div").eq(2).find("option:selected").val()
        var sectionname = $(obj).parent().parent().children("div").eq(2).find("option:selected").text()
        var difficulty = $(obj).parent().parent().children("div").eq(3).find("option:selected").val()
        var difficultyname = $(obj).parent().parent().children("div").eq(3).find("option:selected").text()
        var count_type = $(obj).parent().parent().children("div").eq(4).children("input").eq(0).val()
        var warningword = ""
        var flag = true
        if (section == 0) {
            $(obj).parent().parent().children("div").eq(2).attr("class", "col-md-2 form-group has-error")
            warningword += "【章节】"
            flag = false
        }
        else {
            $(obj).parent().parent().children("div").eq(2).attr("class", "col-md-2 form-group")
        }
        if (difficulty == 0) {
            $(obj).parent().parent().children("div").eq(3).attr("class", "col-md-2 form-group has-error")
            warningword += "【难度】"
            flag = false
        }
        else {
            $(obj).parent().parent().children("div").eq(3).attr("class", "col-md-2 form-group")
        }
        if (count_type == 0 || count_type == "") {
            warningword += "【题量】"
            flag = false
            $(obj).parent().parent().children("div").eq(4).attr("class", "col-md-2 form-group has-error")
        }
        else {
            $(obj).parent().parent().children("div").eq(4).attr("class", "col-md-2 form-group")
        }
        if (flag == false) {
            $("#detail_warning").html(warningword + "有错误")
            $("#detail_warning").removeAttr("hidden")
            return
        }
        else {
            $("#detail_warning").html("")
            $("#detail_warning").attr("hidden", "hidden")
        }
        $.each($(obj).parent().parent().next().next().children("tbody").eq(0).children("tr"), function (tridx, trobj) {
            if ($(trobj).children("td").eq(2).children("span").eq(0).text() == section && $(trobj).children("td").eq(3).children("span").eq(0).text() == difficulty) {
                flag = false
            }
        })
        if (flag == false) {
            $("#detail_warning").html("相同章节相同难度的题目只能出现一次")
            $("#detail_warning").removeAttr("hidden")
            return
        }
        else {
            $("#detail_warning").html("")
            $("#detail_warning").attr("hidden", "hidden")
        }
        var html = $("#Detail_Content_" + questiontype).html();
        html += '<tr>' +
                    '<td><span style="display:none">' + course + '</span>' + coursename + '</td>' +
                    '<td><span style="display:none">' + questiontype + '</span>' + questiontypename + '</td>' +
                    '<td><span style="display:none">' + section + '</span>' + sectionname + '</td>' +
                    '<td><span style="display:none">' + difficulty + '</span>' + difficultyname + '</td>' +
                    '<td><span style="display:none">' + count_type + '</span>' + count_type + '</td>' +
                    '<td><button id="Del_Detail" onclick="Del_Detail(this,' + questioncount + ')" class="btn btn-warning" type="button">删除</button></td>' +
                '</tr>'
        $("#Detail_Content_" + questiontype).html(html)
        var typetotalcount = 0
        $.each($(obj).parent().parent().next().next().children("tbody").eq(0).children("tr"), function (trindex, trobj) {
            typetotalcount += parseInt($(trobj).children("td").eq(4).children("span").eq(0).text())
        })
        if (typetotalcount == questioncount) {
            $(obj).parent().parent().parent().next().children("button").eq(1).removeAttr("disabled")
        }
        else {
            $(obj).parent().parent().parent().next().children("button").eq(1).attr("disabled", "disabled")
        }
    }

    function Create() {
        var paperlist = []
        var majorid = $("#final_majorname option:selected").val()
        $("#final").find("tbody").each(function () {
            var paper = {}
            $.each($(this).children("tr"), function (index, obj) {
                var courseid = $(obj).children("td").eq(0).children("span").eq(0).text()
                var questiontypeid = $(obj).children("td").eq(1).children("span").eq(0).text()
                var sectionid = $(obj).children("td").eq(2).children("span").eq(0).text()
                var difficultyid = $(obj).children("td").eq(3).children("span").eq(0).text()
                var count = $(obj).children("td").eq(4).children("span").eq(0).text()
                
                paper = {
                    paperproperty: {
                        course: courseid,
                        questiontype: questiontypeid,
                        section: sectionid,
                        difficulty: difficultyid,
                        major:majorid
                    },
                    count: count
                }
                paperlist.push(paper)
            })
        })
        $.ajax({
            url: "/api/DownloadTestPaperAPI/GetQuestionID/",
            type: "POST",
            //contentType: 'application/json',
            data: { "": paperlist },
            //data: JSON.stringify(paperlist),
            beforeSend: function () {

            },
            success: function (result) {
                var curWwwPath = window.document.location.href;    //获取当前url
                var pathName = window.document.location.pathname;
                var pos = curWwwPath.indexOf(pathName);
                var localhostPath = curWwwPath.substring(0, pos) + "/";   //项目根路径
                alert("生成成功")
                var html = ""
                $("#testpaper").show()
                var width = parseInt($("#testpapertable").find("th").first().innerWidth()) - 4
                $.each(result, function (index, obj) {
                    html += '<tr><td colspan="4"><iframe width="' + width + '" id=' + obj.ID + ' src="' + localhostPath + '/Upload/' + obj.Course + '/' + obj.Section + '/' + obj.Type + '/' + obj.Difficulty + '/files/' + obj.ID + '.html' + '?new=' + Math.random() + '"></iframe></td><td rowspan="2" style="text-align:center;vertical-align:middle"><button class="btn btn-primary" onclick="ChangeIt(this)">换题</button></td></tr><tr><td id="' + obj.Course + '">课程名称：' + obj.CourseName + '</td><td id="' + obj.Section + '">章节名称：' + obj.SectionName + '</td><td id="' + obj.Type + '">题型：' + obj.TypeName + '</td><td id="' + obj.Difficulty + '">难度：' + obj.DifficultyName + '</td></tr>'
                })
                $("#testpapertable").children("tbody").eq(0).html(html)
                $("#final").hide()
                //window.open(localhostPath + "/Upload/Output/out.docx")
            }
        })
    }

    function Del(obj) {
        $(obj).parent().parent().remove()
        var oldcount = $("#total_count").text().split("：")[1]
        var newcount = parseInt(oldcount) - parseInt($(obj).parent().parent().children("td").eq(1).text())
        $("#total_count").text("总数：" + newcount)
        var oldscore = $("#total_score").text().split("：")[1]
        var newscore = parseInt(oldscore) - parseInt($(obj).parent().parent().children("td").eq(3).text())
        $("#total_score").text("总分：" + newscore)
    }

    function Del_Detail(obj, typetotalcount) {

        var totalcount = 0
        $.each($(obj).parent().parent().parent().children("tr"), function (trindex, trobj) {
            totalcount += parseInt($(trobj).children("td").eq(4).children("span").eq(0).text())
        })
        totalcount -= parseInt($(obj).parent().prev().children("span").eq(0).text())
        if (totalcount == typetotalcount) {
            $(obj).parent().parent().parent().parent().parent().next().children("button").eq(1).removeAttr("disabled")
        }
        else {
            $(obj).parent().parent().parent().parent().parent().next().children("button").eq(1).attr("disabled", "disabled")
        }
        $(obj).parent().parent().remove()
    }

    function ChangeIt(obj) {
        var oldidlist = []
        $.each($(obj).parent().parent().parent().find("iframe"), function (idx, iframeobj) {
            oldidlist.push($(iframeobj).attr("id"))
        })
        //var oldquestionid = $(obj).parent().prev().children("iframe").attr("id")
        var courseid = $(obj).parent().parent().next().children("td").eq(0).attr("id")
        var sectionid = $(obj).parent().parent().next().children("td").eq(1).attr("id")
        var questiontypeid = $(obj).parent().parent().next().children("td").eq(2).attr("id")
        var difficultyid = $(obj).parent().parent().next().children("td").eq(3).attr("id")
        var paper = {
            paperproperty: {
                questiontype: questiontypeid,
                course: courseid,
                section: sectionid,
                difficulty: difficultyid
            },
            count: 1
        }
        $.ajax({
            url: "/api/DownloadTestPaperAPI/GetOneQuestion/",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ oldidlist: oldidlist, paper: paper }),
            //data: { "": paper,"": oldquestionid},
            //data: JSON.stringify(paperlist),
            beforeSend: function () {

            },
            success: function (result) {
                var curWwwPath = window.document.location.href;    //获取当前url
                var pathName = window.document.location.pathname;
                var pos = curWwwPath.indexOf(pathName);
                var localhostPath = curWwwPath.substring(0, pos) + "/";   //项目根路径
                var html = ""
                $(obj).parent().prev().children("iframe").eq(0).attr("src", localhostPath + '/Upload/' + result.Course + '/' + result.Section + '/' + result.Type + '/' + result.Difficulty + '/files/' + result.ID + '.html' + '?new=' + Math.random())
                //window.open(localhostPath + "/Upload/Output/out.docx")
                $(obj).parent().prev().children("iframe").eq(0).attr("id", result.ID)
            }
        })
    }

    function Calculate() {
        if ($("#questioncount").val() != "" && $("#score").val() != "") {
            $("#totalscore").val(parseInt($("#questioncount").val()) * parseInt($("#score").val()))
        }
    }
</script>