<!DOCTYPE html>
<html>
<head>
    <meta property="wb:webmaster" content="b32d00391f17bfea" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" /><!--
                                                                                                viewport：网页可视区域，
                                                                                                initial-scale：初始缩放比例，也即是当页面第一次 load 的时候缩放比例。
                                                                                                maximum-scale：允许用户缩放到的最大比例。
                                                                                                minimum-scale：允许用户缩放到的最小比例。
                                                                                                user-scalable：用户是否可以手动缩放。
                                                                                            -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Content/datatables/js/jquery.dataTables.js"></script>
    <script src="~/Content/datatables/js/dataTables.bootstrap.js"></script>
    <script src="../Content/webuploader/webuploader.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        footer {
            color: white;
        }
        .container {
            color: white;
        }
    </style>
</head>
<body style="background-image:url(/images/banner.png)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">试卷生成系统</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand"><strong>试卷生成器</strong></a>
            </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index"><strong>主页</strong></a></li>
                        <li><a href="/UploadQuestions/Index"><strong>上传试卷</strong></a></li>
                        <li><a href="/DownloadTestPaper/Index"><strong>生成试卷</strong></a></li>
                        <li><a href="/ViewQuestion/Index"><strong>管理试题</strong></a></li>
                        <li><a href="/Manage/Index"><strong>系统管理</strong></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        @if (ViewBag.IsLogin == true)
                    {
                            <li>
                                <a class="pull-right" href="#"><strong>您好，@ViewBag.Username</strong></a>

                            </li>
                            <li>
                                <a class="pull-right" href="@Url.Action("Index", "Home")"><strong><span class="glyphicon glyphicon-home"></span></strong></a>
                            </li>
                            <li>
                                <a class="pull-right" href="@Url.Action("Index", "Home")"><strong><span class="glyphicon glyphicon-cog"></span></strong></a>
                            </li>
                            <li>
                                <a href="Membership/Logout" class="pull-right"><strong>退出</strong></a>
                            </li>
                    }
                    else
                    {
                            <li>
                                @Html.ActionLink("注册", "regist", "Membership", new { area = "" }, new { style = "color:red", @class = "pull-right" })
                            </li>
                            <li>
                                @Html.ActionLink("登录", "login", "Membership", new { area = "" }, new { @class = "pull-right" })
                            </li>
                    }
                    </ul>
                </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 试卷生成器 <a style="color:white" href="http://www.miitbeian.gov.cn/">蜀ICP备15026501号-1</a></p>
        </footer>
    </div>


</body>
</html>
<script type="text/javascript">
    
    $(document).ready(function () {
        var bodyheight = parseInt(window.screen.height) - 200
        $("body").attr("style", "height:" + bodyheight.toString() + "px;background-image:url(/images/banner.png)")
        $("#username").focus()
        var padding = bodyheight/2-200
        $(".col-md-4").attr("style", "padding-top:" + padding + "px")
    })
</script>
